// Body
$body-bg: #f7f9fb;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: 0.125rem;
$border-radius-lg: 0.2rem;
$border-radius-sm: 0.15rem;

// Nav Pills
$nav-pills-border-radius: 0;

//Overwrite bootstrap colors
$primary-todo: #002a59;

$nav-and-footer-bg-color: #f5f5f5;

$primary: $primary-todo;
$secondary: #c6c6c6;

$bg-primary: $primary-todo;

// Colors
$wiz-dark-green-color-todo: #5d9930;
$wiz-light-green-color-todo: #5d9930;
$wiz-box-shadow-todo: #85C157;

$wiz-dark-blue-todo: #192857;
$wiz-light-blue-todo: #21599a;
$lighter-blue-todo: #5983b3;
$lighter2-blue-todo: #a6bdd7;

$wiz-dark-color: $wiz-dark-blue-todo;
$wiz-light-color: $wiz-light-blue-todo;
$wiz-box-shadow: $lighter-blue-todo;

$white: white;
$black: black;

// Font
$font-family-base: "Open Sans", sans-serif;
$error-red: #dc3545;

$lightGrey: #cccccc;
