// .force-bottom {
//   position: absolute;
//   bottom: 45px;
// }

.green-background {
  background-color: $primary;
}

.product-name {
  font-size: 60px;
  font-weight: 800;
}

.auth-slogan {
  font-size: 40px;
  line-height: 50px;
  font-weight: 300 !important;
}

.dark-gray-color {
  color: #656666;
}


.login-logo-min {
  min-height: 100px;
  min-width: 100px;
}
